<!DOCTYPE html>
<html lang='en'>

<%- include('../../layout/head'); %>

  <body>

    <%- include('../../layout/header'); %>

      <main>
        <h2>Book Details</h2>

        <section class="modificatinSection">
          <%- include('show'); %>
          
          <form class= 'deleteBtn' action="/deleteBook/<%=bookDetails.id%>?_method=put" method="post">
            <button>Delete Book</button>
          </form>
          
          <button class="updateBtn"> Update Book</button>
            <%- include('edit'); %>
        </section>

        <section>
          <%- include('../../layout/footer'); %>
        </section>
      </main>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/js/app.js"></script>
  </body>

</html>