<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head'); %>


    <body>

        <%- include('../layout/header'); %>

            <main>
                <h2>Home Page</h2>

                <div>
                    <h4 class="bookCount"> Book Count: <%= favBooksData.length %>
                    </h4>
                    <% favBooksData.forEach(favBook=>{ %>
                        <section class="bookCard">
                            <img src='<%= favBook.img%>' alt="<%= favBook.title%>">
                            <h3>
                                <%= favBook.title%>
                            </h3>
                            <h4>
                                <%= favBook.author.replace(/\{|\}|"/g,'')%>
                            </h4>
                            <p>
                                <%= favBook.isbn%>
                            </p>
                            <a href='/books/<%=favBook.id%>'> <button>Book Details</button></a>

                        </section>
                        <% }) %>
                </div>

            </main>

            <%- include('../layout/footer'); %>

    </body>

</html>